	#overlay {
		display: none; /* ensures it’s invisible until it’s called */
		position: fixed; /* makes the div go into a position that’s absolute to the browser viewing area */
		left: 20%; /* positions the div half way horizontally */
		top: 15%; /* positions the div half way vertically */
		padding: 10px; 
		border: 2px solid green;
		background-color: #ffffff;
		width: 60%;
		height: 70%;
		z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
	}
	#fade {
		display: none;  /* ensures it’s invisible until it’s called */
		position: absolute;  /* makes the div go into a position that’s absolute to the browser viewing area */
		left: 0%; /* makes the div span all the way across the viewing area */
		top: 0%; /* makes the div span all the way across the viewing area */
		background-color: black;
		-moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
		opacity: .30;
		filter: alpha(opacity=50);
		width: 100%;
		height: 120%;
		z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
	}