/* Content */
.Darken {
	background-color: rgb(0, 0, 0);
	opacity: 0.4;
	/* -moz-opacity: 0.40;
	filter: alpha(opacity=40); */
	z-index: 20;
	height: 100%;
	width: 100%;
	background-repeat: repeat;
	position: fixed;
	top: 0px;
	left: 0px;
}

.Lighten {
	z-index: 50;
	height: 100%;
	width: 100%;
	background-repeat: repeat;
	position: fixed;
	top: 0px;
	left: 0px;
}

.AlternateBG {
	background:#f4f4f4;
}

.AlternateBG2 {
	background:#FCF4AA;
}

.Border {
	border:1px solid #CCC;
}

.Break {
	height:7px;
}

.BreakSmall {
	height:3px;
}

.ControlStyle {
	border:1px solid #999;
	font-size:12px;
}

.acTrue {
	border: 1px solid #005B58;
}

.acFalse {
	border: 1px solid #f00;
}


.DivError {
	background:#FFBABA;
	border:1px solid #F93737;
	padding:5px;
}

.DivSuccess {
	background:#D3F5CD;
	border:1px solid #55D83E;
	padding:5px;
}


.GridStyle {
	border-collapse: collapse;
}

.GridStyle td {
	border: 1px solid #CCC;
}

.GridStyle tr:hover:not(.NoHover):not(.DataBG) {
	background-color: #FFDAB9;
}

.GridStyle tr:hover:not(.NoHover):not(.DataBG) td{
	border-right:none;
	border-left:none;
}

.GridStyle .HeaderBG {
	background: #E5E5E5;
	/* background: linear-gradient(top, #ffffff, #e5e5e5); */
	border: 1px solid #CCC;
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
	padding-top: 5px;
	text-shadow: 0 1px 0 #ffffff;
	vertical-align: middle;
}

.GridStyle .LiteHeaderBG {
	background: #EBF2F9;
	/* background: linear-gradient(top, #ffffff, #e5e5e5); */
	border: 1px solid #CCC;
	font-size: 11px;
	font-weight: bold;
	padding: 3px;
	padding-top: 5px;
	text-shadow: 0 1px 0 #ffffff;
	vertical-align: middle;
}

.GreenBG {
	background-color:#D2EDD0;
}

.RedBG {
	background-color:#FCAAAA;
}

.YellowBG {
	background-color:#FCF4AA;
}

.GridStyle .GridStyleP {
	background-color:#FCFCFC;
	border:none;
	padding:0;
}

.GridStyle .GridStyleP:hover {
	background-color:#FCFCFC;
}

.GridStyle tr:hover .GridStyleP td {
	border:1px solid #ccc;
}

.GridStyle .GridStyleP tr:hover td {
	border-right:none;
	border-left:none;
}

.LeftColumnBG {
	background:#EDEDED;
}

.LeftColumnDiv {
	float:left;
}

.MinPadding {
	margin-top:-2px;
	margin-bottom:-5px;
}

.PagerTitle {
	border-bottom:1px solid #EE4037;
	color:#647287;
	font-size:14px;
	font-weight:bold;
	padding:9px 0;
}

.NormalBG {
	background:#FFF;
}

.NotNullMark {
	color:#F00;
	float:right;
}

.TDButton {
    background-color: #ffed64;
    background-image: -moz-linear-gradient(center top , #ffed64, #ffab23);
    border-color: #ffaa22;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
		/* box-shadow: 0 1px 0 0 #72B9EB inset, 0 1px 2px 0 #B3B3B3; */
    color: #333;
    font: 11px/1 "lucida grande",sans-serif;
    padding: 3px 10px 8px;
    text-align: center;
    text-shadow: 1px 1px 0px #ffed66;
}

.TDButton:active {
		box-shadow: 1px 1px 0  #E08600 inset;
    text-shadow: 0 1px 0 #E08600;
}

.TDButton:hover {
    background-color: #ffab23;
    background-image: -moz-linear-gradient(center top , #ffab23 0%, #ffed64 100%);
    border-color: #ffaa22;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.TDButton img{
	position:relative;
	top:5px;
}

.Expand {
	font-size:9px;
	padding:0 3px 3px 3px;
	white-space:nowrap;
}

.TRImportant .RightColumnBG {
	font-weight:bold;
}

.ULink {
	color:#0B7CED;
	cursor:pointer;
}

.ViewTitle {
	color:#647287;
	font-weight:bold;
	font-size:18px;
	border-bottom:1px solid #EE4037;
}

.ViewTitle span{
	text-align: left;
	display: block;
}

.ViewSubTitle {
	color:#C00;
}

input[type="text"], input[type="password"]{
	border-radius:4px;
	padding:3px;
	border:1px solid #848484;
	background:#fff;
}

input[type="button"] {
	border-radius:3px;
	padding:2px 6px;
	cursor:pointer;
}

.DataGridStyle {
	border-collapse: collapse;
}

.DataGridStyle td {
	border: none;
}

.DataGridStyle td.LeftColumnBG {
	background:#ededed;
	border-bottom:2px solid #fff;
}

#div_autocomplete {
	background-color:#FFFFFF;
	position:absolute;
	display:none;
	border:1px solid #999999;
	overflow:auto;
	overflow-x:hidden;
	z-index: 1000;
}

#tab_autocomplete {
	background-color:#FFFFFF;
}

input.ControlRead {
	background-color:#EBF2F9;
	border:1px solid #999;
	font-size:12px;
}

input.ControlErr, textarea.ControlErr {
	background:#FF0;
	border:1px solid #999;
	color:#F00;
	font-size:12px;
}

.DataBG {
	padding-bottom: 7px;
	background: url(../images/bg-pattern-line.png) bottom repeat-x;
	background-color: #222;
	color: #FFF;
	font-weight: bold;
}